@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Import Font Jepang Keren (Noto Serif JP & Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Noto+Serif+JP:wght@700;900&display=swap');

/* Base Style */
body {
  background-color: #ffffff;
  color: #171717;
  font-family: 'Inter', sans-serif; /* Font Utama (Modern) */
}

/* Custom Class untuk Kanji & Judul */
.font-japan {
  font-family: 'Noto Serif JP', serif;
  letter-spacing: -0.05em; /* Rapatkan sedikit biar estetik */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #DC2626; 
}